body
{
  background-size: cover;
  background-position: center;
}

.heading
{
    font-size: 32px;
    padding: 20px;
    margin: 20px ;
}

.back_button
{
    margin: 20px;
}

#status_status
{
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
}

#status
{
    background-color: black;
    font-size: small;
    font-weight: bold;
}

#object_info
{
    
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
}

canvas
{
        border-radius: 20px;
        box-shadow: 5px 5px 5px grey;
}